/resources/BUILDER/CHAT
/node_modules
/public/hot
/public/storage
# /public/css/app.css
/public/js/app.min.js
/public/js/lang/lang.dist.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
.vscode/launch.json
*.DS_Store
package-lock.json
/storage/*
.htaccess
.env.*
public/babysitter/*

public/chat/*
public/read-chat/*
public/logs/*
testtri/*