.homepage{
    .attendance{
        &__head{
            
            padding: 15px 30px;
            background-color: #f2f2f2;
            &--title{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px;
                font-size: 20px;
            }
            &--des{
                color: #3f3f3f;
                font-weight: 900;
                margin: 0;
                padding: 0 10px 0 30px;
                font-size: 16px;
            }
        }

        .wrapper{
            padding: 60px 30px;
            display: flex;
            justify-content: space-between;
            &>div{
                &:first-child{
                    width: 200px;
                }
                &:last-child{
                    width: 200px;
                }
            }
        }
        .blocked{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 80px;
                width: auto;
            }
            .item{
                padding-right: 50px;
            }
            // .last{
            //     padding-left: 50px;
            // }
        }
    }
}