<div class="contentin fadein">
    <div class="content">
        <div class="homepage">
            <div class="analysis">
                <div class="analysis__head">
                    <h3 class="analysis__head--title">シフト・勤怠管理をクラウド化しませんか？ </h3>
                    <h4 class="analysis__head--des">クラウド一括管理でシフトの自動収集・共有がラクラク！！ </h4>
                </div>
                <div class="content">
                    attendance
                </div>
            </div>
        </div>
    </div>
</div>