<div class="contentin fadein">
    <div class="content">
        <div class="homepage">
            <div class="attendance">
                <div class="attendance__head">
                    <h3 class="attendance__head--title">シフト・勤怠管理をクラウド化しませんか？ </h3>
                    <h4 class="attendance__head--des">クラウド一括管理でシフトの自動収集・共有がラクラク！！ </h4>
                </div>
                <div class="wrapper">
                    <div class="wrapper__item--left">
                        <button class="btn__heading">シフト収集</button>
                        <div class="blocked">
                            <div class="item first">
                                <img src="/img/attendance-left-a.png" alt="">
                            </div>
                            <div class="item mid">
                                <img src="/img/attendance-left-b.png" alt="">
                            </div>
                            <div class="item last">
                                <img src="/img/attendance-left-people.png" alt="">
                                <img src="/img/attendance-left-c.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="wrapper__item--mid">
                        <button class="btn__heading">シフト作成・調整 </button>
                        <div class="blocked">
                            <img src="/img/attendance.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper__item--right">
                        <button class="btn__heading">シフト共有 </button>
                        <div class="blocked">
                            <div class="item first">
                                <img src="/img/attendance-right-a.png" alt="">
                            </div>
                            <div class="item mid">
                                <img src="/img/attendance-right-b.png" alt="">
                            </div>
                            <div class="item last">
                                <img src="/img/attendance-right-c-people.png" alt="">
                                <img src="/img/attendance-right-c.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>