<div class="contentin fadein">
    <div class="content">
        <div class="homepage">
            <div class="infosharing">
                <div class="infosharing__head">
                    <h3 class="infosharing__head--title">社員同士のスマートな情報共有を実現！</h3>
                    <h4 class="infosharing__head--des">営業先の情報・社員の動き・報告と連動して管理できます。人事考課の際にも便利。</h4>
                </div>
                <div class="content">
                    
                </div>
            </div>
        </div>
    </div>
</div>